{% extends "layout.twig" %}

{% block content %}

    <h1>Events</h1>

    <div class="list-group">
        {% for key,val in events %}
            <a href="/index.php/event/{{ val.id }}" class="list-group-item">{{ val.name }}</a>
        {% endfor %}
    </div>

{% endblock %}
